@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8197e0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f86e0;
}
